<% layout('layouts/boilerplate') %>
<!-- List Consultants Section Start -->
<section id="list-consultants" class="list-consultants">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-right" data-aos-delay="100">
                <h3>Consultant Profiles</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Experience Years</th>
                            <th>Availability</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% consultants.forEach(consultant => { %>
                        <tr>
                            <td><%= consultant.userId.name %></td>
                            <td><%= consultant.specialization.join(', ') %></td>
                            <td><%= consultant.experienceYears %></td>
                            <td><%= consultant.availability ? 'Available' : 'Not Available' %></td>
                            <td>
                                <a href="/consultant/<%= consultant._id %>" class="btn btn-info btn-sm">View</a>
                                <a href="/consultant/<%= consultant._id %>/edit" class="btn btn-warning btn-sm">Edit</a>
                                <form action="/consultant/<%= consultant._id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- List Consultants Section End -->
