<% layout('layouts/boilerplate') %>
<!-- View Consultant Section Start -->
<section id="view-consultant" class="view-consultant">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 offset-lg-2" data-aos="fade-right" data-aos-delay="100">
                <h3>Consultant Profile</h3>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Name: <%= consultant.userId.name %></h5>
                        <p class="card-text">Specialization: <%= consultant.specialization.join(', ') %></p>
                        <p class="card-text">Experience Years: <%= consultant.experienceYears %></p>
                        <p class="card-text">Bio: <%= consultant.bio %></p>
                        <p class="card-text">Certifications: <%= consultant.certifications.join(', ') %></p>
                        <p class="card-text">LinkedIn Profile: <a href="<%= consultant.linkedInProfile %>"><%= consultant.linkedInProfile %></a></p>
                        <p class="card-text">Availability: <%= consultant.availability ? 'Available' : 'Not Available' %></p>
                        <p class="card-text">Rating: <%= consultant.rating %> / 5</p>
                        <a href="/consultants/<%= consultant._id %>/edit" class="btn btn-warning">Edit</a>
                        <form action="/consultants/<%= consultant._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- View Consultant Section End -->
